# Exercícios Maratona Data Science - Pandas

⚫  1- Importe Pandas e printe a versão

In [18]:
import pandas as pd

⚫2- Crie uma série panda de cada um dos ítens abaixo: uma lista, numpy e um dicionário

In [8]:
import pandas as pd
import numpy as np
minhalista = list("abcedfghijklmnopqrstuvwxyz")
meuarr = np.arange(26)
meudict = dict(zip(minhalista, meuarr))

item1 = pd.Series(minhalista)
item2 = pd.Series(meuarr)
item3 = pd.Series(meudict)

print(item1.head())
print(item2.head())
print(item3.head())

0    a
1    b
2    c
3    e
4    d
dtype: object
0    0
1    1
2    2
3    3
4    4
dtype: int32
a    0
b    1
c    2
e    3
d    4
dtype: int64

⚫3- Converta a série “ser” em um dataframe com seu índice como outra coluna no dataframe.

In [14]:
import pandas as pd
import numpy as np
minhalista = list("abcedfghijklmnopqrstuvwxyz")
meuarr = np.arange(26)
meudic = dict(zip(minhalista, meuarr))
ser = pd.Series(meudict)
#resposta
dataframe = ser.to_frame().reset_index()
print(dataframe.head())

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

⚫4- Combine ‘ser1’ e ‘ser2’ para formar um dataframe

In [19]:
import numpy as np
import pandas as pd
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
dataframe1 = ser1.to_frame().reset_index()
dataframe2 = ser2.to_frame().reset_index()
df = pd.concat([dataframe1, dataframe2], axis=1)
print(df)

    index  0  index   0
0       0  a      0   0
1       1  b      1   1
2       2  c      2   2
3       3  e      3   3
4       4  d      4   4
5       5  f      5   5
6       6  g      6   6
7       7  h      7   7
8       8  i      8   8
9       9  j      9   9
10     10  k     10  10
11     11  l     11  11
12     12  m     12  12
13     13  n     13  13
14     14  o     14  14
15     15  p     15  15
16     16  q     16  16
17     17  r     17  17
18     18  s     18  18
19     19  t     19  19
20     20  u     20  20
21     21  v     21  21
22     22  w     22  22
23     23  x     23  23
24     24  y     24  24
25     25  z     25  25

⚫5- Atribua um nome a série “ser” chamando-a de ‘alfabeto’.

In [21]:
import pandas as pd
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
#resposta
ser.name = 'Alfabeto'
print (ser)

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: Alfabeto, dtype: object